<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujiuye.mapper.MemberMapper">
    <select id="getRegList"  resultType="java.util.Date">
        SELECT min(regTime)
        FROM t_member
    </select>
</mapper>
