<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujiuye.mapper.PermissionMapper">

    <select id="listByUserId" resultType="Permission">
        SELECT *
        FROM t_permission
        WHERE id in (
	        SELECT permission_id
	        FROM t_role_permission
	        WHERE role_id = (
		        SELECT role_id
		        FROM t_user_role
		        WHERE user_id = #{user_id}
	        )
        )
    </select>
</mapper>
